body{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: -webkit-flex;
    /* display: ms-flexbox; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}
.amarillo{
    background-color: #FDFE31;
    display: inline-block;
    /* flex-direction: column; */
    height: 50px;
    margin-right: 1%;
    text-align: center;
    width: 7.4%
}

.verde{
    background-color: #AFFE2C;
    display: inline-block;
    height: 50px;
    margin-right: 1%;
    text-align: center;
    width: 15.83%;
}

.agua{
    background-color: #30E1A7;
    display: inline-block;
    height: 50px;
    margin-right: 1%;
    text-align: center;
    width: 24.25%;
}

.azul{
    background-color: #1FB6AC;
    display: inline-block;
    height: 50px;
    margin-right: 1%;
    text-align: center;
    width: 32.66%;
}

.morado{
    background-color: #9C46CF;
    display: inline-block;
    height: 50px;
    margin-right: 1%;
    text-align: center;
    width: 49.5%;
}

.magenta{
    background-color: #CF2DA8;
    display: inline-block;
    height: 50px;
    /* padding: 1px; */
    text-align: center;
    width: 100%;
}